ul{
    list-style: none;
    display: flex;
}

li{
    padding: 0 10px;
    cursor: pointer;
}

li:hover{
    color: red;
}

a{
    text-decoration: none;
    color: inherit;
}

table,
th,
td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
    margin: 5px;
}